div{
	text-align:center;
}
#general{
	height: 100%;
	width: 50%;
	margin: 0 auto;

}
.right{
	float: right;
}

.left{
	float: left;
}
.lado{
	background-color: pink;
	height: 600px;
	width: 15%;
}
.medio{
    background-color: #08C43D ;
	height: 100px;
	width: 90%;
}
.center{
    background-color: #B7F37C;
	height: 400px;
}