div{
	text-align: center;
	background-color: green;
}


/*Analizar las siguientes configuraciones, la diferencia y aplicacion.*/ 
/* 
div #modelo{
	width: 50%; 50 porciento en relación al div
}

div#modelo{
	width: 50%; 50 porciento en relación al div
} 
*/


